* {
    background: rgb(189, 6, 235);
    font-family: Arial, Helvetica, sans-serif;

}

form {
    height: 350px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 30%;
}

h1 {
    color: rgb(189, 6, 235);
    text-align: center;
    background: white;
}

input {
    width: 70%;
    background: white;
    border-radius: 10px;
    padding: 7px 7px;
    margin-left: 12%;
    margin-bottom: 10px;
}

textarea {
    width: 70%;
    border-radius: 10px;
    padding: 7px 7px;
    margin-left: 12%;
    margin-bottom: 10px;
    background: white;
}

button {
    background-color: rgb(189, 6, 235);
    color: white;
    border-radius: 20px;
    padding: 7px 7px;
    display: flex;
    text-align: center;
    margin: auto;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button:active{
    cursor: pointer;
    opacity: 0.5;
}

