*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(189, 6, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 24px;
    color: white;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 40px;
}

.navigation:hover{
    text-decoration: underline;
}