*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: flex;
    justify-content:space-between;
}

nav ul li a {
    position: relative;
    text-decoration: none;
}